/* 헤더 */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--ColorPrimary);
  z-index: 10;
}

.header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

.header .logo {
  width: 14.2rem;
  height: 3.2rem;
}

.header .logo a,
.header .logo img {
  display: block;
  width: 100%;
  height: 100%;
}

/* 배너 */
.banner {
  position: relative;
  margin: 7rem 0 0;
  color: var(--ColorBackground);
}

.banner .banner-list {
  display: flex;
  background: var(--ColorPrimary);
  white-space: nowrap;
  overflow: hidden;
}

.banner .banner-list li {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 0;
  padding-top: calc(900 / 1920 * 100%);
  box-sizing: border-box;
  transition: transform 0.5s;
}

.banner .banner-list p {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
}

.banner .banner-list strong {
  display: block;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.8rem;
  margin: 3rem 0 4rem;
}

.banner .btn-apply > span {
  margin-right: 0.4rem;
}

.banner .banner-list .banner-full {
  background: url("../assets/banner-img.png") center center / cover no-repeat;
  text-align: center;
}

.banner .banner-list .banner-full .contents {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner .banner-list .banner-full .btn-l {
  margin: 0 auto;
}

.banner .banner-list .banner-talk {
  background: url("../assets/banner-img2.png") calc(100% - 6%) / 40% auto
    no-repeat;
  text-align: left;
}

.banner .banner-list .banner-talk .contents {
  position: absolute;
  left: 6%;
  top: 50%;
  transform: translateY(-50%);
}

.banner .banner-btn-list {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  display: flex;
  gap: 1.2rem;
  z-index: 2;
}

.banner .banner-btn {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.5);
  padding: 0;
  cursor: pointer;
}

.banner .banner-btn.active {
  background: var(--ColorBackground);
}

/* 메인 */
.main {
  padding-top: 6rem;
  background: var(--ColorBackground);
}

.section-title {
  color: var(--ColorSurface);
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  text-align: center;
}

.section-title span {
  font-weight: 500;
}

/* section - 공지 */
.ambassador-notice .wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  border: 1px solid var(--ColorGrayLv2);
  border-radius: 1rem;
  padding: 2.6rem 3rem 2.5rem;
  background: var(--ColorGrayLv1);
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.ambassador-notice .wrap::after {
  content: "";
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  width: 1rem;
  height: 1rem;
  background: var(--ColorPrimary);
  border-radius: 50%;
}

.ambassador-notice .notice-title {
  font-weight: 700;
  color: var(--ColorPrimary);
}

.ambassador-notice .notice-time {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: var(--ColorGrayLv3);
}

.ambassador-notice .notice-text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

/* section - 위니브 엠버서더 소개 */
.ambassador-intro .wrap {
  padding: 7.2rem 0 7rem;
}

.ambassador-intro .intro-title {
  margin-bottom: 6rem;
}

.ambassador-intro .intro-list {
  display: flex;
  gap: 7rem;
}

.ambassador-intro .intro-list h3 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 3.2rem;
}

.ambassador-intro .intro-list li {
  flex-basis: 50%;
}

.ambassador-intro .intro-wrap .intro-contents {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.ambassador-intro .applicant li {
  display: flex;
}

.ambassador-intro .applicant li::before {
  content: "";
  display: inline-block;
  background: var(--ColorSurface);
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  margin: 1.2rem 0.8rem 0;
}

/* section - 혜택 */
.ambassador-benefit .wrap {
  padding: 8rem 0;
}

.ambassador-benefit .benefit-title {
  margin-bottom: 6rem;
}

.ambassador-benefit .benefit-list {
  display: flex;
  align-items: start;
  justify-content: center;
  column-gap: calc((100% - 20rem * 5) / 4);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.ambassador-benefit .benefit-list img {
  width: 100%;
  height: auto;
}

.ambassador-benefit .benefit-list p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
}

/* section - 활동 안내 */
.ambassador-activity {
  padding: 7rem 0;
  background: var(--ColorPrimary);
  color: var(--ColorBackground);
  text-align: center;
}

.ambassador-activity .section-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: var(--ColorBackground);
}

.ambassador-activity p {
  margin: 2rem 0 4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.ambassador-activity .btn-l {
  margin: 0 auto;
}

/* section - 진행 일정 */
.ambassador-schedule .wrap {
  padding: 8rem 0 10rem;
}

.ambassador-schedule .section-title {
  margin-bottom: 6rem;
}

.ambassador-schedule .section-title span {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
  color: var(--ColorPrimary);
  margin-bottom: 0.8rem;
}

.ambassador-schedule .schedule-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem 0;
  text-align: center;
}

.ambassador-schedule .schedule-list li {
  display: flex;
  align-items: center;
}

.ambassador-schedule .schedule-list .content {
  width: calc((119rem - 6rem - 19.2rem) / 5);
  padding: 3rem 0 3.2rem;
  border-radius: 3rem;
  background: var(--ColorGrayLv1);
  text-align: center;
}

.ambassador-schedule .schedule-list li::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  background: url("../assets/icon/icon-polygon.svg") no-repeat center / cover;
  margin: 0 1.4rem;
}

.ambassador-schedule .schedule-list li:first-child:before {
  display: none;
}

.ambassador-schedule .schedule-list p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}

.ambassador-schedule .schedule-list strong {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: var(--ColorGrayLv4);
}

/* section - 지난 활동 */
.ambassador-past-activity {
  background: var(--ColorGrayLv1);
}

.ambassador-past-activity .wrap {
  padding: 8rem 0 5rem;
}

.ambassador-past-activity .activity-title {
  margin-bottom: 4rem;
}

.ambassador-past-activity .activity-list {
  display: flex;
  gap: 3.2rem;
  padding: 2rem 2rem 5.2rem;
  overflow-x: scroll;
}

.ambassador-past-activity .activity-list::-webkit-scrollbar {
  background-color: #fff;
}

.ambassador-past-activity .activity-list li {
  flex-shrink: 0;
  height: 52rem;
  border: none;
}

.ambassador-past-activity .activity-list a {
  position: relative;
}

.ambassador-past-activity .activity-list a::after {
  content: "";
  position: absolute;
  right: 4rem;
  top: 4.6rem;
  width: 2.8rem;
  height: 2.8rem;
  background: url("../assets/icon/icon-diagonal-arrow-gray.svg") no-repeat
    center / cover;
}

.ambassador-past-activity .activity-info {
  padding: 4rem 4rem 3.4rem;
}

.ambassador-past-activity .activity-info > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3.2rem;
}

.ambassador-past-activity .activity-info p {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.ambassador-past-activity .thumbnail {
  padding: 6rem 7.2rem 0;
  background: var(--ColorLightBlue);
}

.ambassador-past-activity .thumbnail img {
  width: 100%;
  border-radius: 1rem;
}

/* section - 활동 후기 */
.ambassador-review .wrap {
  padding: 8rem 0;
}

.ambassador-review .review-title {
  margin-bottom: 4rem;
}

.ambassador-review .review-list {
  display: flex;
  gap: 3.2rem;
  padding: 2rem 2rem 5.2rem;
  overflow-x: scroll;
}

.ambassador-review .review-list li {
  flex-shrink: 0;
  height: 30rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  padding: 4rem 4rem 6.8rem;
}

.ambassador-review .review-list .profile {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.4rem;
}

.ambassador-review .review-list .profile-img {
  width: 8rem;
  height: 8rem;
  border: 3px solid var(--ColorLightBlue);
  border-radius: 6rem;
  box-sizing: border-box;
}

.ambassador-review .review-list .profile-class {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--ColorGrayLv3);
  margin-bottom: 0.4rem;
}

.ambassador-review .review-list p {
  word-break: normal;
}

/* section - 위니브 콘텐츠 */
.ambassador-contents {
  background: var(--ColorPrimary);
  color: var(--ColorBackground);
  text-align: center;
}

.ambassador-contents .section-title {
  color: var(--ColorBackground);
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.ambassador-contents .wrap {
  padding: 7rem 0;
}

.ambassador-contents p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 2rem 0 4rem;
}

.ambassador-contents .btn-l {
  margin: 0 auto;
}

/* section - FAQ */
.ambassador-faq .wrap {
  padding: 7rem 0 6rem;
}

.ambassador-faq .faq-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 79rem;
  margin: 4rem auto 0;
}

.ambassador-faq .faq-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--ColorGrayLv2);
  background: #fff;
  padding: 2.4rem 2.8rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
}

.ambassador-faq .faq-list li.active .answer {
  display: flex;
}

.ambassador-faq .faq-list p {
  display: flex;
  gap: 1.9rem;
}

.ambassador-faq .faq-list p::before {
  display: inline-block;
  content: "Q";
  font-weight: 700;
}

.ambassador-faq .faq-list .question {
  font-weight: 600;
}

.ambassador-faq .faq-list .question::before {
  color: var(--ColorPrimary);
}

.ambassador-faq .faq-list .answer {
  display: none;
  color: var(--ColorGrayLv4);
}

.ambassador-faq .faq-list .answer::before {
  content: "A";
  color: var(--ColorGrayLv3);
}

.ambassador-faq .btn-faq {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  width: 2.2rem;
  height: 2.2rem;
  background: url("../assets/icon/icon-triangle-down.svg") no-repeat center /
    cover;
}

.ambassador-faq .faq-list li.active .btn-faq {
  background: url("../assets/icon/icon-triangle-up.svg") no-repeat center /
    cover;
}

/* 푸터 */
.footer .footer-top {
  padding: 10rem 0;
  background: var(--ColorGrayLv1);
}

.footer .footer-top .wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer .weniv-greeting {
  max-width: 41rem;
  flex-shrink: 0;
}

.footer .weniv-greeting .section-title {
  text-align: left;
  margin-bottom: 3.2rem;
}

.footer .weniv-greeting p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.footer .weniv-greeting p > strong {
  display: block;
  font-weight: 700;
}

.footer .link-list {
  width: 60%;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-template-rows: repeat(2, 16rem);
  gap: 1.8rem;
}

.footer .link-list a {
  position: relative;
  display: block;
  background: linear-gradient(81.13deg, #2e6ff2 -35.88%, #5c8ef2 123.72%);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  padding: 10.4rem 0 3.2rem 3.2rem;
  border-radius: 3rem;
  box-sizing: border-box;
}

.footer .link-list a > span {
  display: flex;
  align-items: center;
}

.footer .link-list a > span::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url("../assets/icon/icon-diagonal-arrow.svg") no-repeat 50% /
    cover;
  margin-left: 0.8rem;
}

.footer .link-list a::before {
  content: "";
  position: absolute;
  right: 3rem;
  top: 3rem;
  width: 3.2rem;
  height: 3.2rem;
  background: url("../assets/icon/icon-Home.svg") no-repeat center / cover;
}

.footer .link-list a.inflearn::before {
  background: url("../assets/icon/icon-infrean.svg") no-repeat center / cover;
}

.footer .link-list a.instagram::before {
  background: url("../assets/icon/icon-insta.svg") no-repeat center / cover;
}

.footer .link-list a.naver::before {
  background: url("../assets/icon/icon-naver.svg") no-repeat center / cover;
}

.footer .btn-apply {
  position: absolute;
  bottom: 0;
}

.footer .copyright {
  padding: 6rem 0;
  background: var(--ColorBackground);
  color: var(--ColorGrayLv3);
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}

.footer .copyright p {
  opacity: 0.8;
}

/* top 버튼 */
.top-btn {
  display: none;
  position: fixed;
  right: 4rem;
  width: 5rem;
  height: 5rem;
  background: var(--ColorGrayLv2) url("../assets/icon/icon-up-arrow.svg")
    no-repeat center / 2.4rem 2.4rem;
  border-radius: 50%;
  transition: all 0.4s;
}

.top-btn.active {
  display: block;
}

/* 미디어쿼리 */
@media (min-width: 1920px) {
  .banner .banner-list li {
    padding-top: calc(900 / 3840 * 100%);
  }

  .banner .banner-list .banner-full {
    background: url("../assets/banner-3840.png") center center / cover no-repeat;
  }

  .banner .banner-list .banner-talk {
    background: url("../assets/banner-img2.png") calc(100% - 30%) / 20% auto
      no-repeat;
  }

  .banner .banner-list .banner-talk .contents {
    left: 25%;
  }
}

@media (max-width: 1190px) {
  .shadow-box {
    width: 38rem;
  }

  /* section - 공지 */
  .ambassador-notice .wrap {
    justify-content: flex-start;
    text-align: left;
  }

  /* section - 진행 일정 */
  .ambassador-schedule .schedule-list {
    flex-wrap: wrap;
  }

  .ambassador-schedule .schedule-list li::before {
    margin: 0 2rem;
  }

  /* 푸터 */
  .footer .footer-top {
    padding: 10rem 0 16rem;
  }

  .footer .footer-top .wrap {
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  .footer .weniv-greeting {
    margin-bottom: 4rem;
  }

  .footer .link-list {
    width: 100%;
    grid-template-rows: repeat(2, 6rem);
  }

  .footer .link-list a {
    padding: 2rem 2.8rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  .footer .link-list a > span::after {
    width: 2rem;
    height: 2rem;
  }

  .footer .link-list a::before {
    right: 2.4rem;
    top: 50%;
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
  }

  .footer .btn-apply {
    left: 50%;
    bottom: -10rem;
    transform: translateX(-50%);
  }
}

@media (max-width: 780px) {
  .header .logo {
    width: 8.2rem;
    height: 2.3rem;
  }

  .header .wrap {
    height: 6rem;
  }

  /* 배너 */
  .banner {
    margin: 6rem 0 0;
  }

  .banner .banner-list li {
    padding-top: calc(300 / 390 * 100%);
  }

  .banner .banner-list p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .banner .banner-list strong {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 1.1rem 0 2rem;
  }

  .banner .btn-apply {
    width: 12rem;
    height: 4rem;
  }

  .banner .btn-apply > span {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  }

  .banner .banner-btn-list {
    bottom: 1.2rem;
  }

  /* 메인 */
  .main {
    padding-top: 3rem;
  }

  .section-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .shadow-box {
    width: 27rem;
  }

  /* section - 공지 */
  .ambassador-notice .wrap {
    gap: 1rem 1.2rem;
    padding: 2.8rem 3rem;
  }

  .ambassador-notice .wrap::after {
    top: 1.6rem;
    right: 1.6rem;
  }

  /* section - 위니브 엠버서더 소개 */
  .ambassador-intro .wrap {
    padding: 4rem 0 5rem;
  }

  .ambassador-intro .intro-title {
    margin-bottom: 4rem;
  }

  .ambassador-intro .intro-list {
    flex-direction: column;
    padding: 0 1.4rem;
    gap: 4rem;
  }

  .ambassador-intro .intro-list h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
  }

  .ambassador-intro .intro-contents {
    font-size: 1.6rem;
  }

  /* section - 혜택 */
  .ambassador-benefit .wrap {
    padding: 5rem 0;
  }

  .ambassador-benefit .benefit-title {
    margin-bottom: 3.4rem;
  }

  .ambassador-benefit .benefit-list {
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 0.4rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 0;
  }

  .ambassador-benefit .benefit-list li {
    width: 10rem;
  }

  .ambassador-benefit .benefit-list p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  /* section - 활동 안내 */
  .ambassador-activity {
    padding: 4rem 0;
  }

  .ambassador-activity .section-title {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .ambassador-activity p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin: 1.2rem 0 2.4rem;
  }

  .ambassador-activity .btn-l {
    width: 18rem;
    height: 4rem;
  }

  /* 진행 일정 */
  .ambassador-schedule .wrap {
    padding: 4rem 1.5rem 5rem;
  }

  .ambassador-schedule .section-title {
    margin-bottom: 3.2rem;
  }

  .ambassador-schedule .section-title span {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .ambassador-schedule .schedule-list {
    gap: 0;
    flex-direction: column;
  }

  .ambassador-schedule .schedule-list li,
  .ambassador-schedule .schedule-list .content {
    width: 100%;
  }

  .ambassador-schedule .schedule-list li {
    flex-direction: column;
  }

  .ambassador-schedule .schedule-list li::before {
    flex-direction: column;
    margin: 1.2rem 0;
    background: url(../assets/icon/icon-polygon-down.svg) no-repeat center /
      cover;
  }

  .ambassador-schedule .schedule-list .content {
    padding: 2rem 0;
  }

  .ambassador-schedule .schedule-list p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 0.8rem;
  }

  .ambassador-schedule .schedule-list strong {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  /* section - 지난 활동 */
  .ambassador-past-activity .wrap {
    padding: 4rem 0;
  }

  .ambassador-past-activity .activity-title {
    margin-bottom: 2rem;
  }

  .ambassador-past-activity .activity-list {
    padding: 2rem;
    gap: 2rem;
  }

  .ambassador-past-activity .activity-list li {
    height: 35.8rem;
  }

  .ambassador-past-activity .activity-list a::after {
    display: none;
  }

  .ambassador-past-activity .activity-info {
    padding: 3rem 3rem 2rem;
  }

  .ambassador-past-activity .activity-info > div {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .ambassador-past-activity .activity-list p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .ambassador-past-activity .thumbnail {
    padding: 3.3rem 4rem 0;
  }

  /* section - 활동 후기 */
  .ambassador-review .wrap {
    padding: 4rem 0 3rem;
  }

  .ambassador-review .review-title {
    margin-bottom: 4rem;
  }

  .ambassador-review .review-list {
    gap: 2rem;
  }

  .ambassador-review .review-list li {
    height: 33.2rem;
  }

  .ambassador-review .review-list .profile {
    margin-bottom: 2rem;
  }

  .ambassador-review .review-list .profile-img {
    width: 6rem;
    height: 6rem;
    margin-right: 1.2rem;
  }

  .ambassador-review .review-list p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }

  /* section - 위니브 contents */
  .ambassador-contents .wrap {
    padding: 4rem 0 3.6rem;
  }

  .ambassador-contents .section-title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    word-break: keep-all;
  }

  .ambassador-contents p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin: 1.5rem 0 2.3rem;
  }

  .ambassador-contents .btn-l {
    width: 18rem;
    height: 4rem;
  }

  /* section - FAQ */
  .ambassador-faq .wrap {
    padding: 4rem 0;
  }

  .ambassador-faq .faq-list {
    width: 100%;
    gap: 1rem;
    margin-top: 2.8rem;
  }

  /* 푸터 */
  .footer .footer-top {
    padding: 4rem 1.5rem 12rem;
  }

  .footer .weniv-greeting .section-title {
    margin-bottom: 2.4rem;
  }

  .footer .link-list {
    grid-template-columns: 1fr;
    gap: 1.4rem;
  }

  .footer .btn-apply {
    width: 18rem;
    height: 4rem;
    bottom: -8rem;
  }

  .footer .copyright {
    padding: 4rem 0;
    font-weight: 400;
  }

  .top-btn {
    right: 2rem;
  }
}

@media (max-width: 550px) {
  .max-width {
    max-width: calc(100% - 3rem);
  }

  .ambassador-activity p > span {
    display: block;
  }

  .ambassador-contents .section-title > span {
    display: block;
  }
}
